*{
margin:0px;
padding:0px;
}
body
{
	margin:0px;
	padding:0px;
	background:#26c6da;
} 

form
{
	width:80%;
}
.center
{
margin-left:auto;
padding-left:auto;
text-align:center;
}

.side-nav
{
	padding-left:20px;
	padding-top:30px;
	min-height:100vh;
	height:100%;
	position:static;
	margin:0px;
}
h3{
	padding:0px;
	margin:0px;
	font:18px Nunito;
	color:white;
}
h2
{	
	font:22px Amaranth;
	margin:0px;
	padding:0px;
	color:black;
}
h4
{
	
	font:bold 13px Nunito;
	margin:0px;
	padding:0px;
	color:black;
}
	
.navbar
{
	background:white;
	border:0px;
	margin:0px;
}

.navbar-right
{
		padding-top:25px;
	padding-bottom:25px;
}
.navbar-brand
{
	margin:0px;
	padding:5px;
}
.main
{
	margin:0px;
	padding:0px;
}
header
{
	margin:0px;
	padding:0px;
}

.form-content
{
	background-color:#f5f5f5;
	padding-top:30px;
	padding-left:auto;
	padding-right:auto;
	margin:0px;
}
.side-nav ul li
{
	list-style-type:none;
	margin-left:10px;
	padding:5px;
}
.side-nav ul li h2:hover
{
	font:20px;
	color:white;
	text-decoration:none;
}
.active
{
	color:white;
}
h6
{
	color:red;
}